<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<%= form_for [:administers, @user]  do |f| %>
			<table class="table table-bordered">
				<h3>該当ユーザー　処分</h3>
				<tbody>
					<tr>
						<td>氏名</td>
						<td><%= @user.last_name %>
							<%= @user.first_name %>
						</td>
					<tr>
					<tr>
						<td>氏名 (カナ)</td>
						<td><%= @user.last_name_kana %>
						</td>
					</tr>
					<tr>
						<td>該当ユーザー / 残高</td>
						<td><%= number_to_currency(@balance, :unit => "￥", :precision => 0) %></td>
					</tr>
			          <td class="is_deleted">会員ステータス</td>
				        <td>
				          	<label><%=f.radio_button :is_deleted, "有効" %>有効</label>
				          	<label><%=f.radio_button :is_deleted, "無効" %>無効</label>
				        </td>
			        </tr>
				</tbody>
			</table>
			<%=f.submit "処分を確定する", class: "btn btn-danger col-xs-4 col-xs-offset-4" %>
			<% end %>
        </div>
	</div>
</div>