<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<h3>メニューバー</h3>
		</div>
			<div class="col-xs-10">
			<%= attachment_image_tag @user, :image, format: "jpeg", fallback: "no_image.jpg", class: "center-block" %>
							<% if current_user == @user %>
								<p><%= link_to"個人情報詳細", userinfo_user_path, class: "btn btn-success col-xs-4 col-xs-offset-4" %></p>
								<p><%= link_to current_user.active_tradings.count, bought_tradings_path %></p>
								<p><span class="badge"><%= Trading.where(completed: false, buyer_id: @user.id).count %></span>
							<% end %>
							<p><%= link_to "sign_out", destroy_user_session_path, method: :delete %></p>
				<table class="table table-bordered">
					<tbody>
						<tr>
							<% if @tradings %>
								<%= Trading.where(excellent_review: true, buyer_id: @user.id).count %>
								<%= Trading.where(good_review: true, buyer_id: @user.id).count %>
								<%= Trading.where(poor_review: true, buyer_id: @user.id).count %>
							<% end %>

                            <% if @trading %>
								<%= Trading.where(seller_excellent_review: true, seller_id: current_user.id).count %>
								<%= Trading.where(seller_good_review: true, seller_id: current_user.id).count %>
								<%= Trading.where(seller_poor_review: true, seller_id: current_user.id).count %>
							<% end %>
						</tr>

						<tr>
							<td colspan="2">取引</td>
						</tr>
						<tr>
							<td rowspan="2">マイブログ</td>
							<td>いいね一覧</td>
						</tr>
						<tr>
							<td>交換希望リスト</td>
							<td><%= link_to "ほしいもの一覧へ", wish_wishlists_path %></td>
						</tr>
						<tr>
							<td>交換希望リスト</td>
						</tr>
					</tbody>
				</table>
	</div>
</div>