<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h4 class="transfer">残高</h4>
			<h4><% if @user.balance %>
					<%= number_to_currency(@user.balance, :unit => "￥", :precision => 0) %>
				<% else %>
					<%= "￥ 0" %>
				<% end %>
			</h4>
            <%= form_with(url:user_path(current_user), model: @user, local: false) do |f| %>
				<table class="table table-bordered">
					<tboy>
						<tr>
							<td>
								<%= f.label :入金申請額 %>
								<%= f.number_field :request_amount, value: 0 %>円
							</td>
						</tr>
					</tboy>
				</table>
			<%= f.submit "入金申請", class: "btn btn-primary col-xs-12" %>
			<% end %>
		</div>
	</div>
</div>