<div class="container">
	<div class="row">
		<div class="col-xs-2">
			メニューバー
		</div>
		<div class="col-xs-10">
				<h4>残高</h4>
				<h4><%= @balance %></h4>

                <%= form_for(@request_amount, url: user_path(current_user.id)) do |f| %>
				<table class="table table-bordered">
					<tboy>
						<tr>
							<td>
								<%= f.label :入金申請額 %>
								<%= f.text_field :request_amount, id: "request_amount" %>円 (販売手数料 10%分が差し引かれます)
								<%= f.label :"申請後の残高", class: "col-xs-offset-1" %>
								<%= f.text_field :balance, id: "balance" %>
							</td>
						</tr>
					</tboy>
				</table>
				<%= f.submit "入金申請", class: "btn btn-primary col-xs-12" %>
				<% end %>
		</div>
	</div>
</div>

<script>
$('#request_amount').keyup(function() {
  var s = $("#request_amount").val();
  var sa = parseInt(s);
  var sb = 0.9

  var profit = sa * sb

  $('#balance').val(profit)
});
</script>
