<div class="container">
  <h3>個人情報設定</h3>

    <div class="row">
      <div class="col-xs-10">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>メールアドレス</td>
              <td><%= f.text_field :email, placeholder: "メールアドレスを入力", class: "col-xs-8" %></td>
            </tr>
            <tr>
              <td>
                パスワード
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %>文字以上)</em>
                <% end %>
              </td>
              <td><%= f.password_field :password, placeholder: "パスワードを入力", class: "col-xs-8" %></td>
            </tr>
            <tr>
              <td>パスワード再入力</td>
              <td><%= f.password_field :password_confirmation, placeholder: "パスワードを入力", class: "col-xs-8" %></td>
            </tr>
          </tbody>
        </table>
        <%= f.submit "登録", class: "btn btn-success col-xs-4 col-xs-offset-4" %>
        <% end %>
      </div>
    </div>
</div>
