<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="wish-list">ほしいもの 一覧</h3>
				<% if @wishlists.blank? %>
	        		<h4 class="no-wish-list">登録がありません　商品を探してみましょう !</h4>
	        		<span class="see-products"><%= link_to "商品一覧へ", products_path %></span>
	      		<% end %>
				<% @wishlists.each do |wishlist| %>
					<table class="table table-bordered">
						<tboy>
							<tr>
								<td width="10%">
									<%= attachment_image_tag wishlist.product, :image, format: "jpeg", fallback: "no_image.jpg", size: "50x50" %>
								</td>
								<td width="40%">
									<%= link_to wishlist.product.name, product_path(wishlist.product.id) %>
								</td>
								<td width="40%">
									<%= number_to_currency(wishlist.product.price, :unit => "￥", :precision => 0) %>
								</td>
								<td width="10%">
									<%= wishlist.product.created_at.strftime('%Y-%m-%d') %>
								</td>
							</tr>
						</tboy>
					</table>
				<% end %>
		</div>
	</div>
</div>