<div class="container">
  <div class="row">
      <div class="col-xs-10">
        <h2>購入手続き</h2>
          <table class="table table-bordered">
              <tboy>
                <tr>
                  <td>
                      <%= attachment_image_tag @product, :image, format: "jpeg", fallback: "no_image.jpg", size: "300x300", class: "center-block" %>
                      <% @tradings.each do |trading| %>
                        <h3 class="col-xs-4">合計金額  ￥<%= trading.product.price %></h3>
                      <% end %>
                  </td>
                </tr>
                <%= form_for(@trading, url: product_tradings_path(@product)) do |f| %>
                  <%= f.hidden_field :seller_id, :value => @product.user.id %>
                  <%= f.hidden_field :buyer_id, :value => current_user.id %>
                  <tr>
                    <td>
                      <%= f.label :支払方法, class: "col-xs-4" %>
                      <%= f.select :paymethod, Trading.paymethods.keys, class: "col-xs-8" %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="col-xs-3">お届け先</div><%= current_user.address_city %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= f.submit "購入を確定する", {method: :post, class: "btn-sm btn-danger col-xs-12", params:{product_id: @product.id,seller_id: @product.user.id}} %>
                    </td>
                  </tr>
                <% end %>
              </tboy>
          </table>
      </div>
  </div>
</div>



