<div class="container">
	<div class="row">
		<div class="col-xs-10">
				<table class="table table-bordered">
					<tboy>
						<tr>
							<td>
								<%= attachment_image_tag @product, :image, format: "jpeg", fallback: "no_image.jpg", size: "50x50", class: "center-block" %>
							</td>
						</tr>
						<tr><td>
							<% if @buyer == current_user %>
						 			<%= link_to products_path %>
						 		<% else %>
						 			<%= "" %>
						 		<% end %>
						 	</td>
						</tr>
						<tr>
							<td>
								current_user
								<h3 class="col-xs-12"><%= @trading.product.name %></h3>
								<h4 class="col-xs-12"><%= number_to_currency(@trading.product.price, :unit => "￥", :precision => 0) %></h4>
								<h3 class="col-xs-12"><%= @trading.product.postage %></h3>
								<h3 class="col-xs-12"><%= @trading.total_price %></h3>
								<h3><%= @trading.total_price %></h3>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-xs-3">商品の説明</div>
						    </td>
						</tr>
							<td width="100%" height="300px">
								<%= @trading.product.introduction %>
							</td>
						<tr>
							<td>
								<div class="col-xs-3">商品の状態</div><%= @trading.product.status %>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-xs-3">送料の負担</div><%= @trading.product.postage_responsibility %>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-xs-3">送料</div><%= @trading.product.postage %>
							</td>
						</tr>
					</tboy>
				</table>
				<%#= form_for(@trading, url: trading_path(@trading)) do |f| %>
				<%#= form_for @trading,:url => {controller: "tradings", action: "update"} do |f| %>
                  <%#= f.select :payment_status, Trading.payment_statuses.keys %>
                  <%#= f.submit "更新", class: "btn btn-primary" %>
                <%# end %>

                <%# if @product.barter_approval != true %>

				<% if @trading.buyer_id == current_user.id && @trading.payment_status == "出品者へ入金報告をする" %>
                	<%= link_to @trading.payment_status, trading_change_payment_status_path(@trading), method: :patch %>
				 	<% else %>
				 	<%= "" %>
				<% end %>

                <% if @trading.buyer_id == current_user.id && @trading.payment_status == "入金報告をしました。出品者の発送待ちです" %>
                <%= "入金報告をしました。出品者の発送待ちです" %>
				 	<% else %>
				 	<%= "" %>
				<% end %>

				<%# if @trading.buyer_id == current_user.id && @trading.shipment_status == "取引完了" %>
				　　<%#= "商品が発送されました　届き次第、受取評価をしてください" %>
					<%#= link_to @trading.payment_status, trading_change_payment_status_path(@trading), method: :patch %>
				 	<%# else %>
				 	<%#= "" %>
				<%# end %>

				<% if @trading.buyer_id == current_user.id && @trading.shipment_status == "受取報告をする" %>
					<%= link_to @trading.payment_status, trading_change_payment_status_path(@trading), method: :patch %>
				 	<% else %>
				 	<%= "" %>
				<% end %>


                <% if @trading.seller_id == current_user.id && @trading.payment_status == "出品者へ入金報告をする" %>
					<%= "商品が購入されました！ 購入者からの入金待ちです  お待ちください" %>
       				<% else %>
				 	<%= ""%>
				<% end %>

				<% if @trading.seller_id == current_user.id && @trading.payment_status == "入金報告をしました。出品者の発送待ちです" %>
					<%= "購入者より代金が支払われました　商品を出荷してください" %>
					<%= link_to @trading.shipment_status, trading_change_shipment_status_path(@trading), method: :patch %>
　　 				<% else %>
				 	<%= ""%>
				<% end %>

				<% if @trading.seller_id == current_user.id && @trading.payment_status == "受取報告をする" && @trading.seller_excellent_review == nil && @trading.seller_good_review == nil && @trading.seller_poor_review == nil %>
				　　<%= "出荷を通知しました　購入者の受取評価をお待ちください" %>
　　 				<% else %>
				 	<%= ""%>
				<% end %>
                <% if @trading.seller_id == current_user.id && @trading.seller_excellent_review == true && @trading.excellent_review == nil && @trading.good_review == nil && @trading.poor_review == nil %>
	                <%= "購入者が受け取りました　購入者の評価をしてください" %>
	　　　　　　　　　<%= form_for (@trading) do |f| %>
			            <%= f.radio_button :excellent_review, :true %>
			            <%= f.radio_button :good_review, :true %>
			            <%= f.radio_button :poor_review, :true %>
	                <%= f.submit "評価を確定する" %>
	                <% end %>
	            <% elsif @trading.seller_id == current_user.id && @trading.seller_good_review == true && @trading.excellent_review == nil && @trading.good_review == nil && @trading.poor_review == nil %>
	            	<%= "購入者が受け取りました　購入者の評価をしてください" %>
	　　　　　　　　　<%= form_for (@trading) do |f| %>
			            <%= f.radio_button :excellent_review, :true %>
			            <%= f.radio_button :good_review, :true %>
			            <%= f.radio_button :poor_review, :true %>
	                <%= f.submit "評価を確定する" %>
	                <% end %>
	            <% elsif @trading.seller_id == current_user.id && @trading.seller_poor_review == true && @trading.excellent_review == nil && @trading.good_review == nil && @trading.poor_review == nil %>
	            	<%= "購入者が受け取りました　購入者の評価をしてください" %>
	　　　　　　　　　<%= form_for (@trading) do |f| %>
			            <%= f.radio_button :excellent_review, :true %>
			            <%= f.radio_button :good_review, :true %>
			            <%= f.radio_button :poor_review, :true %>
	                <%= f.submit "評価を確定する" %>
	                <% end %>
                <% end %>
                <% if @trading.seller_id == current_user.id && @trading.shipment_status == "取引完了" && @trading.excellent_review == true %>
                	<%= "ご利用誠にありがとうございました！" %>
                <% elsif @trading.seller_id == current_user.id && @trading.shipment_status == "取引完了" && @trading.good_review == true %>
                	<%= "ご利用誠にありがとうございました！" %>
                <% elsif @trading.seller_id == current_user.id && @trading.shipment_status == "取引完了" && @trading.poor_review == true %>
                	<%= "ご利用誠にありがとうございました！" %>
                <% end %>

                <% if @trading.buyer_id == current_user.id && @trading.payment_status == "受取報告をする" && @trading.seller_excellent_review == nil && @trading.seller_good_review == nil && @trading.seller_poor_review == nil %>
                <%= "商品が発送されました　到着後、受取評価をしてください" %>
	　　　　　　　　　<%= form_for (@trading) do |f| %>
			            <%= f.radio_button :seller_excellent_review, :true %>
			            <%= f.radio_button :seller_good_review, :true %>
			            <%= f.radio_button :seller_poor_review, :true %>
	                <%= f.submit "評価を確定する" %>
	                <% end %>
                <% end %>

                <% if @trading.buyer_id == current_user.id && @trading.payment_status == "ご利用誠にありがとうございました！" && @trading.seller_excellent_review == true %>
                	<%= "ご利用誠にありがとうございました！" %>
                <% elsif @trading.buyer_id == current_user.id && @trading.payment_status == "ご利用誠にありがとうございました！" && @trading.seller_good_review == true %>
                	<%= "ご利用誠にありがとうございました！" %>
                <% elsif @trading.buyer_id == current_user.id && @trading.payment_status == "ご利用誠にありがとうございました！" && @trading.seller_poor_review == true %>
                	<%= "ご利用誠にありがとうございました！" %>
                <% end %>

                <%# else %>

                <%# "hoge" %>

                <%# end %>



                <table class="table table-bordered">
                	<tbody>
                	<% @trading_messages.each do |trading_message| %>
                    	<tr>
                    		<td>
                       			<%= trading_message.message %>
                       		</td>
                    	</tr>
                    <% end %>
                	</tbody>
                </table>
                    <%= form_for [@trading, @trading_message] do |f| %>
				    	<%= f.text_area :message, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
						<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
					<% end %>
		</div>
	</div>
</div>
