<div class="container">
	<div class="row">
		<div class="col-xs-10">
				<table class="table table-bordered">
					<tboy>
						<tr>
							<td>
								<%= attachment_image_tag @product, :image, format: "jpeg", fallback: "no_image.jpg", size: "300x300", class: "center-block" %>
							</td>
						</tr>
						<tr><td>
							<% if @buyer == current_user  %>
						 			<%= link_to products_path %>
						 		<% else %>
						 			<%= "" %>
						 		<% end %>
						 	</td>
						</tr>
						<tr>
							<td>
								current_user
								<h3 class="col-xs-12"><%= @trading.product.name %></h3>
								<h4 class="col-xs-12"><%= number_to_currency(@trading.product.price, :unit => "￥", :precision => 0) %></h4>
								<h3 class="col-xs-12"><%= @trading.product.postage %></h3>
								<h3 class="col-xs-12"><%= @trading.total_price %></h3>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-xs-3">商品の説明</div>
						    </td>
						</tr>
							<td width="100%" height="300px">
								<%= @trading.product.introduction %>
							</td>
						<tr>
							<td>
								<div class="col-xs-3">商品の状態</div><%= @trading.product.status %>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-xs-3">送料の負担</div><%= @trading.product.postage_responsibility %>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-xs-3">送料</div><%= @trading.product.postage %>
							</td>
						</tr>
					</tboy>
				</table>
				<%= form_for(@trading, url: trading_path(@trading)) do |f| %>
                  <%= f.select :payment_status, Trading.payment_statuses.keys %>
                  <%= f.submit "更新", class: "btn btn-primary" %>
                <% end %>

                <% if @trading.buyer_id == current_user.id && @trading.payment_status == "出品者へ入金報告をする" %>
                	<%= link_to @trading.payment_status, trading_change_payment_status_path(@trading), method: :patch %>
				 	<% else %>
				 	<%= "" %>
				<% end %>

                <% if @trading.buyer_id == current_user.id && @trading.shipment_status == "出荷報告をする" %>
					<%= link_to @trading.payment_status, trading_change_payment_status_path(@trading), method: :patch %>
				 	<% else %>
				 	<%= "" %>
				<% end %>

				<% if @trading.buyer_id == current_user.id && @trading.shipment_status == "購入者を評価する" %>
					<%= link_to @trading.payment_status, trading_change_payment_status_path(@trading), method: :patch %>
				 	<% else %>
				 	<%= "" %>
				<% end %>

				<% if @trading.buyer_id == current_user.id && @trading.payment_status == "ご利用誠にありがとうございました！" %>
					<%= link_to "hoge", products_path %> <!-- 後ほどpathを修正 -->
 				 	<% else %>
				 	<%= "" %>
				<% end %>


                <% if @trading.seller_id == current_user.id && @trading.payment_status == "出品者へ入金報告をする" %>
					<%= "購入者からの入金待ちです　お待ちください" %>
　　 				<% else %>
				 	<%= ""%>
				<% end %>

                <% if @trading.seller_id == current_user.id && @trading.payment_status == "受取報告をする"%>
					<%= "出品者より代金が支払われました　商品を出荷してください" %>
					<%= link_to @trading.shipment_status, trading_change_shipment_status_path(@trading), method: :patch %>
　　 				<% else %>
				 	<%= ""%>
				<% end %>

				<% if @trading.seller_id == current_user.id && @trading.payment_status == "受取報告をする"%>
					<%= "出品者より代金が支払われました　商品を出荷してください" %>
					<%= link_to @trading.shipment_status, trading_change_shipment_status_path(@trading), method: :patch %>
　　 				<% else %>
				 	<%= ""%>
				<% end %>

				<% if @trading.seller_id == current_user.id && @trading.payment_status == "ご利用誠にありがとうございました！"%>
					<%= link_to @trading.shipment_status, trading_change_shipment_status_path(@trading), method: :patch %>
　　 				<% else %>
				 	<%= ""%>
				<% end %>


				<%= form_for Trading.new do |f| %>
		            <%= f.radio_button :excellent_review, :true %>
		            <%= f.radio_button :good_review, :true %>
		            <%= f.radio_button :poor_review, :true %>

		            <%= f.fields_for :user do |i| %>
		            <%= f.hidden_field :seller_id, :value => @product.user.id %>
                    <%= f.hidden_field :buyer_id, :value => current_user.id %>
                <%= f.submit "評価を確定する" %>
                <% end %>
		</div>
	</div>
</div>