<div class="container">
	<div class="row">
		<div class="col-xs-10">
			<h2>交換リクエスト</h2>
				<table class="table table-bordered">
					<tboy>
						<tr>
							<td>
								<%= attachment_image_tag @barter_request.product, :image, format: "jpeg", fallback: "no_image.jpg", size: "300x300", class: "center-block" %>
							</td>
						</tr>
						<tr>
							<td>
								<h3 class="col-xs-12"><%= @barter_requests.name %></h3>
							</td>
						</tr>
					</tboy>
				</table>
			<% @barter_requests.each do |barter_request| %>
			    <table class="table table-bordered">
			    	<tbody>
			    		<tr>
							<td>
								<%= link_to barter_request.name, product_barter_request_path(@product,barter_request) %>
							</td>
							<td>
								<%= barter_request.comment %>
							</td>
                        </tr>
						</tr>
						<tr>
			    			<td>
								<%= attachment_image_tag barter_request, :image, format: "jpeg", fallback: "no_image.jpg", size: "80x80", class: "center-block" %>
							</td>
							<td>
								<% if current_user == @product.user %>
									<%= form_for(barter_request, url: product_barter_requests_path(@product)) do |f| %>
								 	  	<%= f.select :@barter_request.propriety, BarterRequest.proprieties.keys, class: "col-xs-8" %>
								 	  	<%= f.submit "確定" %>
						 	  		<% end %>
						 		<% else %>
						 	  		<%= "" %>
						 		<% end %>
						 		<% if current_user != @product.user && @barter_request.propriety = "許可する" %>
						 			<%= button_to "リクエストが承認されました！ 取引画面へ進んでください", new_trading_path, {method: :get, class: "btn-sm btn-danger col-xs-12", params:{product_id: @product.id}} %>
						 		<% else %>
						 			<%= "" %>
						 		<% end %>
							</td>
							</td>
						</tr>
					</tbody>
				</table>
			<% end %>
			<%= form_for(@barter_request, url: product_barter_requests_path(@product)) do |f| %>
			<tr>
				<td>
					<%= f.label :提案商品, placeholder: "交換可能な商品の名前を入力", autofocus: true, class: "col-xs-4" %>
					<%= f.text_field :name, class: "col-xs-8" %>
					<%= f.submit "保存する", class: "btn btn-primary" %>
				</td>
			</tr>
			<% end %>
		</div>
	</div>
</div>