<div class="container">
	<div class="row">
		<div class="col-xs-10">
				<table class="table table-bordered">
					<tboy>
						<tr>
							<td>
								<%= attachment_image_tag @barter_request, :image, format: "jpeg", fallback: "no_image.jpg", size: "300x300", class: "center-block" %>
							</td>
						</tr>
						<tr>
							<td>
								<h3 class="col-xs-12"><%= @barter_request.name %></h3>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-xs-3">一言コメント</div><%= @barter_request.comment %>
						    </td>
						</tr>
						<tr>
							<td>
								<div class="col-xs-3">商品の状態</div><%= @barter_request.product_condition %>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-xs-3">商品の説明</div>
						    </td>
						</tr>
						<tr>
							<td width="100%" height="300px">
								<%= @barter_request.introduction %>
							</td>

						</tr>
						<tr>
							<td>
								<%# if current_user == @product.user %>
									<%#= form_for(@barter_request, url: product_barter_request_path(@product, @barter_request), method: :patch) do |f| %>
									<%#= form_with url: product_barter_request_path(@product, @barter_request, method: :patch, data: {remote: false} do |f| %>
						              <%#= f.text_field :name , placeholder: "何をお探しですか？"%>
						            <%#= f.submit :🔍 %>
								 	  	<%#= f.select :propriety, BarterRequest.proprieties.keys, class: "col-xs-8" %>
								 	<%#= f.submit "確定" %>
						 	  		<%# end %>
							 	<%# end %>
							 	<% if current_user == @product.user && @barter_request.propriety == "許可する" %>
						 	  		<span class="propriety"><%= "リクエストを許可しました" %></span>
						 	  	<% end %>
							</td>
						</tr>
					</tboy>
				</table>
		</div>
	</div>
</div>
