<div class="container">
	<div class="row">
		<div class="col-xs-7">
				<table class="table table-bordered">
					<tboy>
						<tr>
							<td>
								<%= attachment_image_tag @product, :image, format: "jpeg", fallback: "no_image.jpg", size: "300x300", class: "center-block" %>
							</td>
						</tr>
						<tr>
							<td>
								<h3 class="col-xs-12"><%= @product.name %></h3>
								<% if @product.favorited_by?(current_user) %>
		                            <%= link_to product_favorites_path(@product), method: :delete, remote: false do %>
									<span class="glyphicon glyphicon-heart" style="color: red;"><%= @product.favorites.count %></span>いいね
									<% end %>

								<% else %>
									<%= link_to product_favorites_path(@product), method: :post, remote: false do %>
									<span class="glyphicon glyphicon-heart-empty"><%= @product.favorites.count %></span> いいね
									<% end %>
								<% end %>

								<h4 class="col-xs-12"><%= number_to_currency(@product.price, :unit => "￥", :precision => 0) %></h4>
							</td>
						<tr>
							<td>
								<% if @product.wished_by?(current_user) %>
										<%= link_to "ほしいものリストから削除", product_wishlists_path(@product.id), method: :delete, class: "btn-sm btn-success" %>
								<% else %>
									<%= button_to "ほしいものリストに追加", product_wishlists_path(@product.id), {method: :post, class: "btn-sm btn-info col-xs-12", params:{product_id: @product.id}} %>
							</td>
								<% end %>
						</tr>
						<tr>
							<td>
								<%= button_to "通報", new_product_report_path(@product.id), {method: :get, class: "btn-sm btn-info col-xs-12", params:{product_id: @product.id}} %>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-xs-3">商品の説明</div>
						    </td>
						</tr>
							<td width="100%" height="300px">
								<%= @product.introduction %>
							</td>
						<tr>
							<td>
								<div class="col-xs-3">カテゴリー</div><%= @product.category.name %>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-xs-3">商品の状態</div><%= @product.status %>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-xs-3">送料の負担</div><%= @product.postage_responsibility %>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-xs-3">送料</div><%= @product.postage %>
							</td>
						</tr>
						<tr>
							<td><% if @product.user_id != current_user.id %>
									<% if @product.sale_status == "販売中" %>
										<%= button_to "購入ページへ進む", new_trading_path, {method: :get, class: "btn-sm btn-danger col-xs-12", params:{product_id: @product.id}} %>
									<% else %>
										<%= link_to "売り切れました", product_path(@product.id), class: "btn-sm btn-info col-xs-12", style: "text-align: center" %>
									<% end %>
								<% else %>
									<button type="button" class="btn btn-warning col-xs-12"><%= @product.user.first_name %>さんが出品した商品です</button>
								<% end %>
                           </td>
						</tr>
						<tr>
							<td>
								<% if @product.user_id != current_user.id %>
									<% if @product.propriety == "交換可能" && @product.sale_status == "販売中" %>
								 		<%= button_to "この商品は交換可能です", new_product_barter_request_path(@product.id), {method: :get, class: "btn-sm btn-success col-xs-12" } %>
								 	<% else %>
								 		<%= button_to "この商品は交換不可です", product_path(@product.id), {method: :get, class: "btn-sm btn-info col-xs-12" } %>
								 	<% end %>
								<% end %>
							</td>
						</tr>
					</tboy>
				</table>
				<table class="table table-bordered">
                	<tbody>
                	<% @product_comments.each do |product_comment| %>
                    	<tr>
                    		<td>
                       			<%= product_comment.comment %>
                       		</td>
                    	</tr>
                    <% end %>
                	</tbody>
                </table>
                    <%= form_for [@product, @product_comment] do |f| %>
				    	<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
						<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
					<% end %>
		</div>
		<div class="col-xs-5">
			<table class="table table-bordered">
					<tboy>
						<tr>
							<td class="col-xs-12">
								<h3 class="product-name col-xs-offset-1"><%= @product.name %></h4>
							</td>
						</tr>
						<tr>
							<td>
								<h2 class="product-price col-xs-offset-1"><%= number_to_currency(@product.price, :unit => "￥", :precision => 0) %></h3>
							</td>
						<tr>
							<td>
								<h5 class="product-introduction col-xs-offset-1">商品の説明</h5>
						    </td>
						</tr>
						<tr>
							<td width="100%" height="150px">
								<%= @product.introduction %>
							</td>
						<tr>
						<tr>
							<td><% if @product.user_id != current_user.id %>
									<% if @product.sale_status == "販売中" %>
										<%= button_to "購入ページへ進む", new_trading_path, {method: :get, class: "btn-sm btn-danger col-xs-12", params:{product_id: @product.id}} %>
									<% else %>
										<%= link_to "売り切れました", product_path(@product.id), class: "btn-sm btn-info col-xs-12", style: "text-align: center" %>
									<% end %>
								<% else %>
									<button type="button" class="btn btn-warning col-xs-12"><%= @product.user.first_name %>さんが出品した商品です</button>
								<% end %>
                           </td>
						</tr>
						<tr>
							<td>
								<% if @product.user_id != current_user.id %>
									<% if @product.propriety == "交換可能" && @product.sale_status == "販売中" %>
								 		<%= button_to "この商品は交換可能です", new_product_barter_request_path(@product.id), {method: :get, class: "btn-sm btn-success col-xs-12" } %>
								 	<% else %>
								 		<%= button_to "この商品は交換不可です", product_path(@product.id), {method: :get, class: "btn-sm btn-info col-xs-12" } %>
								 	<% end %>
								<% end %>
							</td>
						</tr>
						<tr>
							<td>
								<%= @product.user.nickname %>
							</td>
						</tr>
						<tr>
							<td>
								<% if @tradings %>
									<P>良い評価 <%= Trading.where(excellent_review: true, buyer_id: @product.user.id).count %></P>
									<p>ふつう評価 <%= Trading.where(good_review: true, buyer_id: @product.user.id).count %></p>
									<p>悪い評価 <%= Trading.where(poor_review: true, buyer_id: @product.user.id).count %></p>
								<% end %>
							</td>
							<td>
	                            <% if @trading %>
									<P>良い評価 <%= Trading.where(seller_excellent_review: true, seller_id: current_user.id).count %></P>
									<p>ふつう評価 <%= Trading.where(seller_good_review: true, seller_id: current_user.id).count %></p>
									<P>悪い評価 <%= Trading.where(seller_poor_review: true, seller_id: current_user.id).count %></P>
								<% end %>
							</td>
							<td>
								<%= attachment_image_tag @product.user, :image, format: "jpeg", fallback: "no_image.jpg", size: "130x130", class: "center-block" %>
							</td>
						</tr>
					</tbody>
			</table>
		</div>
	</div>
</div>
