<div class="container">
	<div class="row">
		<div class="col-xs-10">
			<h2 class="report">通報一覧</h2>
				<table class="table table-bordered">
					<tbody>
						<% @reports.each do |report| %>
							<tr>
								<td>通報id</td>
								<td>通報された商品</td>
								<td>通報された出品者</td>
								<td>通報の種類</td>
								<td>処分</td>
								<td>通報者</td>
								<td>通報日時</td>
							</tr>
							<tr>
								<td><%= report.id %></td>
								<td><%= link_to report.product.name, product_path(report.product.id)  %></td>
								<td><%= link_to report.product.user.nickname, user_path(Report.find_by(user_id: report.user.id)) %> <span class="is_deleted"><%= report.product.user.is_deleted %><span>
								</td>
								<td><%= link_to report.subject, administers_report_path(report) %></td>
								<td><%= link_to "実行", edit_administers_user_path(Report.find_by(user_id: report.user.id)) %></td>
								<td><%= link_to report.user.nickname, user_path(Report.find_by(user_id: report.user.id)) %></td>
								<td><%= link_to "#{report.created_at.strftime("%Y-%m-%d")}", administers_report_path(report) %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
		</div>
	</div>
</div>
