<div class="container">
  <h3 class="administer_sign_up">新メンバー登録</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>
                <%= f.label :"メールアドレス" %><br />
              </td>
              <td>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-xs-12" %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :"パスワード" %>
                <% if @minimum_password_length %>
                <em>(<%= "6文字以上" %>)</em>
                <% end %><br />
              </td>
              <td>
                <%= f.password_field :password, autocomplete: "new-password", class: "col-xs-12" %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :"パスワード再入力" %><br />
              </td>
              <td>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-xs-12" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="administer_actions">
      <%= f.submit "登録", class: "btn btn-success col-xs-4 col-xs-offset-4" %>
    </div>
    <% end %>
</div>
