<!DOCTYPE html>
<html>
  <head>
    <title>Carand</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top" style="background-color:#f79428;">
      <nav class="nav navbar-nav navbar-left">
        <!-- <span class="nav"> -->
          <span class="glyphicon glyphicon-star" aria-hidden="true" style="font-size: 8px"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true" style="font-size: 8px"></span>
          <%= link_to root_path do %>
              <span class="title">カランド</span>
          <% end %>
          <span class="glyphicon glyphicon-star" aria-hidden="true" style="font-size: 8px"></span>
          <span class="glyphicon glyphicon-star" aria-hidden="true" style="font-size: 8px"></span>
          <span class="center-block"><%= form_with url: product_search_path, method: :get, data: {remote: false} do |f| %>
            <%= f.text_field :name , placeholder: "何をお探しですか？"%>
            <%= f.submit :🔍 %>
          </span>
          <% end %>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              カテゴリーからもお探しできます
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "全て", products_path %>
              </li>
              <li>
                <% Category.all.each do |category| %>
              </li>
              <li>
                <%= link_to category.name, products_path(category_id: category.id) %>
              </li>
                <% end %>
            </ul>
          </div>
        <!-- </span> -->
      </nav>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "ほしいもの一覧", wish_wishlists_path %></li>
            <li>
              <%= link_to "買った！", bought_tradings_path %>
              <span class="badge", style="color: white;"><%= Trading.where(completed: false, buyer_id: current_user.id).count %></span>
            </li>
              <!-- ("completed = false?, buyer_id =current_user.id?" or "completed = false, seller_id =current_user.id") -->
            <li>
                <span><%= link_to "売った！", sold_tradings_path %></span>
                <span class="badge", style="color: white;"><%= Trading.where(completed: false, seller_id: current_user.id).count %></span>
            </li>
            <li><%= link_to "マイページ", user_path(current_user) %></li>
          <% else %>
            <span class="hoge" style="color: white;"><%= link_to "sign_out", destroy_user_session_path, method: :delete %></span>
            <span><%= link_to ' login', new_user_session_path %></span>
            <span><%= link_to "アドミン sign_out", destroy_user_session_path, method: :delete %></span>
            <span><%= link_to 'アドミン login', new_user_session_path %></span>
          <% end %>
        </ul>
    </header>
    <div class="col-xs-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="">hoge</a></li>
            <li><a href="">hoge</a></li>
            <li><a href="">hoge</a></li>
            <li><a href="/questionnaire">hoge</a></li>
        </ul>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Category <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <td><%= link_to '全て', products_path %></td>
            </li>
            <%= Category.all.count %>
              <td><%#= link_to category.name, "/products?category_id=#{category.id}" %></td>
            </li>
          </ul>
        </li>
    </div>
  </body>

    <%= yield %>
    <div class="camera"><%= link_to "", new_product_path, class: "btn btn-default glyphicon glyphicon-camera rounded-circle p-0" %></div>
  </body>
</html>
http://localhost:3000/products/16