<!DOCTYPE html>
<html>
  <head>
    <title>Carand</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p><%= link_to "sign_out", destroy_user_session_path, method: :delete %></p>
    <p><%= link_to ' login', new_user_session_path %></p>
    <%= yield %>
  </body>
</html>
